:root {

    --pr-color: #1B3E66;
    --ligt-text: rgb(32, 33, 34);
  --background-color: white;
  --color-text: #000000;
  --margin-body: 0 40px 30px 40px;
  --transition-value: left 0.3s ease;
  
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 5vw;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5vw;
    font-weight: 300;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
}


body {
  margin: 0;
}

/* NAV */
nav {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}

.logo {
    width: 85px;
}



.nav-links {
    list-style: none;
    display: flex;

}

.nav-links > li {
    margin-left: 2rem;
}

.nav-links > li > a {
    color: var(--ligt-text);
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links > li > a:hover {
    text-decoration: underline;
}

.hamb {
    cursor: pointer;
    display: none;
    /* opacity: 0; */
}

.hamb i {
  font-size: 1.8rem;
  color: var(--ligt-text);
}

/* ENTRADAS  */

.entradas > .entradas-texto {
    display: flex;
    flex-direction: column;
    width: calc(50vw - 80px);
    gap: 20px;
    margin-top: 5rem;

}
.entradas > .entradas-foto > .entradas {
        width: 100vh;
 }

.entradas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #000000;
    color: white;
    align-items: center;
    padding: 0 2rem;
}
.container {
    background-color: #000000;
}


/* FORMULARIO */

.formulario,
#modal {
  padding: 2rem;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  background-color: #000000;
  color: white;

}

.formulario > form {
  width: 80%;
  max-width: 600px;
}

.formulario > form > label {
  display: none;
}

.formulario > form > input,
.formulario > form > select,
.formulario > form > p {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.formulario > form > input[type="submit"],
#modal > div > button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: white;
  font-weight: bold;
  border-radius: 10px;
  border: var(--color-primary) 2px solid;
  transition: 0.5s;
  cursor: pointer;
  color: var(--color-primary);
}

.formulario > form > input[type="submit"]:hover,
#modal > div > button:hover {
  background-color: var(--color-primary);
  color: white;
}

#modal {
  position: fixed;
  inset: 0;
  background-color: var(--color-primary);
  display: none;
}

#modal > div {
  background-color: white;
  padding: 2rem;
}

#modal > div > h2,
#modal > div > ul > li,
#modal > div > button {
  margin: 0.5rem 0;
}

.formulario > form > p {
  text-align: center;
}



    


/* Media query */

@media (max-width: 960px) {

    /* #hero {
        background-color: aqua;
    } */

    .nav-links {
        position: fixed;
        top: 100px;
        width: 100%;
        height: calc(100vh - 70px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color);
        transition: var(--transition-value);
        left: -100%;
    }

 /* este selctor esta esperando a que yo con js se lo ponga al ul  */
    .nav-links.active {
        left: 0;
        

    }

    .nav-links > li {
        margin: 1.5rem 0;

    }

    .hamb {
        display: block;
    }
}